@import '../../styles/variables';
.decision-tree-wrapper {
    nz-card {
        .filter-header {
            font-size: 24px;
            font-weight: 500;
        }
        .options-wrapper {
            width: fit-content;
            .selected {
                background-color: $primaryColor;
                border-color: $primaryColor;
                color: $whiteColor;
            }
            .unselected {
                color: $primaryColor;
                background-color: $whiteColor;
                border-color: $primaryColor;
            }

            .options-card:hover {
                color: $whiteColor;
                background-color: $primaryColor;
                border-color: $primaryColor;
            }
            
            .options-card {
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
                line-height: 1.5715;
                position: relative;
                font-weight: 400;
                text-align: center;
                background-image: none;
                border: 1px solid $primaryColor;
                box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                touch-action: manipulation;
                padding: 4px 15px;
                font-size: 14px;
                border-radius: 2px;
            }
        }
    }
}