<div class="checklist-wrapper">
    <div class="container pt-5">
      <nz-alert class="pb-3" nzType="info"  nzDescription="Based on your scenario, these are the requirements to get certified, Add your inputs in the input column.">
      </nz-alert>
      <div class="d-flex">
        <nz-select nzShowSearch nzPlaceHolder="Select a language" [(ngModel)]="selectedLanguage">
          <ng-container *ngFor="let language of languages">
            <nz-option [nzLabel]="language.language" [nzValue]="language.code"></nz-option>
          </ng-container>
        </nz-select>
        <button class="ml-1" [disabled]="selectedLanguage == ''" nz-button nzType="primary" (click)="translateRequirements(selectedLanguage)">Translate</button>
      </div>
      <div class="d-flex justify-end">
        <button nz-button nzType="primary" (click)="next()">Next</button>
      </div>
        <nz-tabset>
            <nz-tab nzTitle="Requirements">
                <nz-skeleton *ngIf="isChecklistLoading" [nzActive]="true"></nz-skeleton>
                <nz-table *ngIf="!isChecklistLoading" #headerTable nzSize="middle" nzTableLayout="fixed" [nzScroll]="{ y: '650px' }">
                    <thead>
                      <tr>
                        <th nzWidth="20px"></th>
                        <th nzWidth="300px">Requirement</th>
                        <th nzWidth="100px">Requirement Type</th>
                        <th nzWidth="50px">Inputs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let standard of _requirements;let i = index;">
                        <tr>
                          <td>{{i+1}}</td>
                          <td>{{ standard?.standardContent }}</td>
                          <td>{{ standard?.requirementType }}</td>
                          <td nzWidth="5%" [nzExpand]="expandSet.has(standard.fsc_requirment_type_per_coc_scenario_stdid)" (nzExpandChange)="onExpandChange(standard.fsc_requirment_type_per_coc_scenario_stdid, $event)"></td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(standard.fsc_requirment_type_per_coc_scenario_stdid)">
                          <div *ngIf="standard.cocInput" class="d-flex align-center">
                            <p class="mb-0">{{standard?.cocInput}}</p>
                          </div>
                          <form *ngIf="!standard.cocInput" nz-form [formGroup]="inputForm">
                            <nz-form-item>
                              <nz-form-control>
                                <nz-input-group >
                                  <textarea formControlName="input" nz-input placeholder="Give your inputs"></textarea>
                                </nz-input-group>
                              </nz-form-control>
                            </nz-form-item >
                            <button nz-button nzType="primary" [nzLoading]="inputLoading" (click)="submitInput(standard)">Add input</button>
                          </form>
                        </tr>
                      </ng-container>
                    </tbody>
                  </nz-table>
            </nz-tab>
        </nz-tabset>
    </div>
</div>