<div class="steps-wrapper">
    <app-header></app-header>
    <div class="container pt-3">
        <ng-container *ngIf="firstSegment">
            <nz-steps class="w-100"  nzSize="default" [nzCurrent]="current">
                <nz-step nzTitle="Self Identity"></nz-step>
                <nz-step nzTitle="Pre-assess eligibility"></nz-step>
                <nz-step nzTitle="Digital Checklist"></nz-step>
                <nz-step nzTitle="Add Additional Data"></nz-step>
            </nz-steps>
        </ng-container>
        <ng-container *ngIf="!firstSegment">
            <nz-steps class="w-100" [nzStartIndex]="4" nzSize="default" [nzCurrent]="current">
                <nz-step nzTitle="Download"></nz-step>
                <nz-step nzTitle="Upload"></nz-step>
                <nz-step nzTitle="Communicate"></nz-step>
                <nz-step nzTitle="Locate"></nz-step>
                <nz-step nzTitle="Sign and Submit"></nz-step>
            </nz-steps>
        </ng-container>
        <app-decision-tree *ngIf="current == 0"></app-decision-tree>
        <app-matrix *ngIf="current == 1"></app-matrix>
        <app-checklist *ngIf="current == 2"></app-checklist>
        <app-additional-questions *ngIf="current == 3"></app-additional-questions>
        <app-download *ngIf="current == 4"></app-download>
        <app-upload *ngIf="current == 5"></app-upload>
        <app-communicate *ngIf="current == 6"></app-communicate>
        <app-location *ngIf="current == 7"></app-location>
    </div>
</div>