<div class="download-wrapper pt-5">
    <nz-card>
      <div class="d-flex justify-end pb-1">
        <button nz-button nzType="primary" (click)="next()">Next</button>
      </div>
        <div class="card-content-wrapper">
            <nz-table #basicTable>
                <thead>
                  <tr>
                    <th>Document</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of resources">
                    <td>{{data.new_resource_name}}</td>
                    <td>
                        <i nz-icon nzType="download" class="cursor-pointer" style="font-size: 20px;" (click)="downloadFile(data)" nzTheme="outline"></i>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </nz-card>
</div>