/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

//variables
$primaryColor: #2e6745;
$whiteColor: #fff;
$hoverColor: rgba(40,92,77,0.8);

//override ng-zoro
.ant-btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
}
.ant-btn-primary:hover {
    background-color: $hoverColor;
    border-color: $primaryColor;
}

.ant-page-header-heading-left {
    align-items: flex-end !important;
}



//common
.spinner {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}